# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
ffb-cglib.xcodeproj/project.xcworkspace/xcshareddata/
ffb-cglib.xcodeproj/project.xcworkspace/xcuserdata/luizfilipe.xcuserdatad/UserInterfaceState.xcuserstate

# Executables
*.exe
*.out
*.app
